%p#notice= notice

%p
  %b Name:
  = @post.name
%p
  %b Title:
  = @post.title
%p
  %b Content:
  = @post.content
%p
  %b Link:
  = @post.link
%nav
  %ul
    %li= link_to 'Edit', edit_post_path(@post)
    %li= link_to 'Back', posts_path

%article
%h3 Comments
= form_for [@post, @post.comments.new] do |f|
  %p Author:
  = f.text_area :author
  %p Comment:
  = f.text_area :body
  = f.submit
