%p#notice= notice

%p
  %b Name:
  = @post.name
%p
  %b Title:
  = @post.title
%p
  %b Content:
  = @post.content
%p
  %b Link:
  = @post.link
%nav
  %ul
    %li= link_to 'Edit', edit_post_path(@post)
    %li= link_to 'Back', posts_path

%article
%h3 Comments
- @comments.each do |comment|
  %tr
    %td= comment.user_name
    %td= comment.body
    %td= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }
= render partial: 'comments/form', locals: { comment: @comment }
